/* Global Styles */ 


html {
  background-color: #F8F4E9; /* Changed color from black to match Omeka theme */
    
}

/* Added this to override padding that Omeka theme was adding to map selectors*/
label {
    padding-top: 0em;
    padding-bottom: 0em;
}
/* Div that makes the map image above the footer work. */
#bottom-map {
        background-image:url(http://www.indiana.edu/~kdglobal/omeka/themes/sepia-nostalgia/images/ColtonsGeneralAtlasoftheWorld.jpg);
    padding-bottom: 150px;
border-top: 8px solid #AC5116}

#map {
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #F8F4E9; /* Changed color to match Omeka theme */
  height: 65%;
  width: 85%;
}

.icon-hint {
  height: 15px;
  width: 20px;
}

.overlay-icon {
  margin: 0px 2px 0px 0px;
}

#timeline-group {
  
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  height: 20%;
  
}

#current-year {
  text-align: center;
  font-weight: bold;
  color: #451401; /* Changed color to match Omeka theme */
}

#slider {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 80%;
}

#control-group {
  margin-left: auto;
  margin-right: auto;
}

#control-group ul {
  clear:left;
  float:left;
  list-style:none;
  margin:0;
  padding:0;
  position:relative;
  left:50%;
  text-align:center;
}

#control-group ul li {
  display:block;
  float:left;
  list-style:none;
  margin:0;
  padding:0;
  position:relative;
  right:50%;
  margin-bottom: 5%;
}

#control-group ul li button {
  display:block;
  margin:0 0 0 1px;
  padding:3px 10px;
  text-decoration:none;
  line-height:1.3em;
}

.button-icon {
  max-height: 30px;
  max-width: 30px;
}

.leaflet-control-layers-group .ui-widget {
	font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.leaflet-control-layers-group .ui-state-default {
  background: #EFEFEF;
}

.leaflet-control-layers-group .ui-state-hover {
  background: #DADADA;
}

.leaflet-control-layers-group .ui-corner-all {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.ui-button-text-only .ui-button-text {
  padding: 0.4em 0.75em;
}